################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MAUIControlGallery/.vs
/.vs
/MAUIControlGallery/MAUIControlGallery/bin/Debug/net8.0-windows10.0.19041.0/win10-x64
/MAUIControlGallery/MAUIControlGallery/obj
